#statues-map {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	padding-top: 40px;

	@media @mobile {
		width: 100%;
		height: 280px;
	}
	z-index: 0;
}

.head-container {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
}

.headline {
	font-family: "AntennaBlack", Helvetica Neue, Helvetica, sans-serif;
}

.dek {
	font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	padding-top: 15px;
	max-width: 630px;
margin: 0 auto;
}

.leaflet-popup-content-wrapper {
	@media @small-mobile {
		width: 300px;
	}
	//z-index: 100000000;
}





p {
	padding: 0;
}

.mobile-img {
	width: 100%;
}

img {
	z-index: 1000;
}

.img-portrait {
	width: 100%;
	text-align: center;
}

.tooltip {
	//position: absolute;
	background: white;
	padding: 10px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	font-size: 12px;
	width: 95%;
	&.hide {
		display: none;
	}
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
}

h3 {
	@media @mobile {
		margin-top: 0;
	}
}

.caption {
	font-size: 10px;
	margin-top: -3px;
	padding-bottom: 5px;
	padding-right: 2px;
	text-align: right;
	font-family: "AntennaExtraLight", Helvetica Neue, Helvetica, sans-serif;

	@media @mobile {
		margin-top: -5px;
	}
}

.portrait-caption {
	font-size: 10px;
	margin-top: -3px;
	padding-bottom: 5px;
	padding-right: 2px;
	text-align: right;
	max-width: 200px;
	margin: 0 auto;
	font-family: "AntennaExtraLight", Helvetica Neue, Helvetica, sans-serif;

	@media @mobile {
		margin-top: -5px;
	}
}

.credit {
display: block;
	max-width: 600px;
	margin: 0 auto;
	font-size: 10px;
	padding-top: 10px;
}

.leaflet-popup-content {
	font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
	z-index: 1100;
}



.leaflet-top {
	z-index: 1 !important;
}

.leaflet-pane {
	z-index: 1 !important;
}



html {
	padding-top: 30px;
	padding-bottom: 30px;
}

.interactive-container {
	height: 1000px;
}

.instruction {
	text-align: center;
	font-family: "AntennaExtraLight", Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	padding-bottom: 15px;
}

.marker {
	max-height: 15px;
}

.leaflet-marker-icon {}