<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_head.html") %>
  </head>

  <body>

<div class="interactive-container">
  <div class="head-container">
    <div class="headline">Where to find the giant sculptures</div>
    <div class="dek">The Chronicle census recorded 58 Benny Bufano sculptures in San Francisco. Most of them are unmarked.</div>
  </div>

  <div class="instruction"><img class="marker" src="assets/marker.png">  Click to read more about each statue</div>
  <div id="statues-map"></div>
  <div class="tooltip hide"></div>

  <div class="credit">
  <div class="entry">Jackie Gu  &bull; <a href="mailto:jgu@sfchronicle.com">jgu@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/jqlngu" target="_blank">@jqlngu</a></div>
  <div class="entry">Sam Whiting  &bull; <a href="mailto:swhiting@sfchronicle.com">swhiting@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/SamWhitingSF" target="_blank">@SamWhitingSF</a></div>
  </div>
</div>


    <script>
      var pymChild = new pym.Child();
      var statuesData = <%= JSON.stringify(csv.bufano) %>;
    </script>
    <script src="app.js" async></script>

  </body>
</html>
